.big-image-layout {
  @include container();
  @include container-flex-column();

  @media (min-width: $bp-sm) {
    @include columns-desktop();
  }

  &__title {
    @include heading-1();

    color: $ayp-blue;
    margin-bottom: 30px;
    max-width: 420px;
  }

  &__button {
    @include button-primary();

    display: block;
    text-align: center;

    @media (min-width: $bp-sm) {
      display: inline;
    }
  }

  &__image {
    @media (min-width: $bp-sm) {
      grid-column: 7 / 12;
    }

    img {
      width: 100%;
      object-fit: cover;

      @media (min-width: $bp-sm) {
        height: 730px;
      }
    }
  }

  &--blue-background {
    p,
    h2 {
      color: $ayp-grey-0;
    }

    h2 {
      margin-top: 90px;

      @media (min-width: $bp-sm) {
        margin-top: 115px;
      }
    }

    .big-image-layout__button {
      @include button-secondary();
    }
  }

  &__content {
    margin-bottom: 50px;

    @media (min-width: $bp-sm) {
      margin-bottom: 0;
      grid-column: 1 / 7;
    }

    > p {
      @include body();

      margin-bottom: 50px;
      max-width: 480px;
    }

    > hr {
      margin-bottom: 50px;
    }

    li p {
      margin-bottom: 0;
    }

    h2 {
      @include heading-1();

      margin-bottom: 30px;

      @media (min-width: $bp-md) {
        margin-bottom: 50px;
      }
    }
  }

  &__card {
    background-color: $ayp-grey-10;
    border: $ayp-grey-30 1px solid;
    padding: 32px;
    margin-bottom: 50px;

    p:first-child {
      margin-bottom: 10px;
    }

    .big-image-layout__button {
      display: inline-block;
      width: 100%;

      &:first-child {
        margin-bottom: 16px;
      }

      @media (min-width: $bp-sm) {
        width: auto;
      }

      @media (min-width: $bp-md) {
        &:first-child {
          margin-bottom: 0;
          margin-right: 24px;
        }
      }
    }
  }

  &__card-buttons {
    display: flex;
    margin-top: 32px;
    flex-wrap: wrap;

    @media (min-width: $bp-md) {
      width: auto;
      flex-wrap: nowrap;
    }
  }

  &__contact-info {
    margin-bottom: 16px;
  }

  &__contact-icon {
    $icon-size: 24px;

    width: $icon-size;
    height: $icon-size;
    margin-right: 16px;
  }

  &--no-title {
    .big-image-layout__content > h2 {
      display: none;
    }
  }

  &--on-context {
    @include on-context-spacers();

    flex-direction: column-reverse;

    .big-image-layout__content {
      margin-bottom: 0;
    }

    .big-image-layout__image {
      margin-bottom: $on-context-margin-mobile;
    }
  }

  &--project {
    flex-direction: column-reverse;

    .big-image-layout__image {
      grid-column: 8/13;

      img {
        margin-bottom: 24px;

        @media (min-width: $bp-sm) {
          height: 530px;
          margin-bottom: 0;
        }
      }
    }

    .big-image-layout__content p {
      max-width: initial;
    }
  }

  &--image-first {
    flex-direction: column-reverse;

    .big-image-layout__content {
      margin-bottom: 0;

      p:last-child {
        margin-bottom: 0;
      }
    }

    .big-image-layout__image {
      img {
        margin-bottom: 24px;
      }
    }
  }

  &--reverse {
    @include reverse();
  }
}
