.categories {
  display: flex;
  width: fit-content;
  padding-right: 30px;
  margin-top: 30px;

  &--vertical-space {
    margin: 30px 0;

    @media (min-width: $bp-md) {
      margin-bottom: 60px;
    }
  }

  &__back {
    @include eyebrow();

    position: relative;
    padding-left: 15px;
    margin-left: 30px;
    color: $ayp-grey-70;
    text-decoration: none;
    font-family: $main-font;

    &::before {
      content: "\2039";
      position: absolute;
      font-size: 2em;
      font-weight: 700;
      left: 0;
      top: -3px;
      transition: transform 0.2s ease-out;
    }

    &:hover::before {
      transform: translateX(-50%);
    }
  }

  .category-link {
    margin: 0 8px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__wrapper {
    @include container();

    width: 100%;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 0;
    }
  }

  @media (min-width: $bp-sm) {
    flex-wrap: wrap;
    justify-content: center;

    .category-link {
      margin-bottom: 16px;
    }
  }
}
