.categories {
  display: flex;
  width: fit-content;
  padding-right: 30px;

  .category-link {
    margin: 0 8px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__wrapper {
    @include container();

    width: 100%;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 0;
    }
  }

  @media (min-width: $bp-sm) {
    flex-wrap: wrap;
    justify-content: center;

    .category-link {
      margin-bottom: 16px;
    }
  }
}
