.metrics {
  $max-item-width: 500px;
  $max-subtitle-width: 200px;

  padding: 128px 24px;
  background-color: $ayp-blue;

  @media (min-width: $bp-md) {
    $max-item-width: 280px;
  }

  &-wrapper {
    @include container();
  }

  &-container {
    width: min(90%, 950px);
    margin-left: auto;

    @media (min-width: $bp-md) {
      display: flex;
      justify-content: flex-end;
      gap: 25px;
    }
  }

  &-item {
    max-width: $max-item-width;
    margin-top: 52px;
    flex: 1;
  }

  &-title,
  &-subtitle,
  &-description,
  &-value {
    color: $ayp-grey-0;
  }

  &-title {
    @include heading-1();

    max-width: 240px;
  }

  &-subtitle {
    @include heading-2();

    max-width: $max-subtitle-width;
  }

  &-value {
    @include variable-title();

    margin-top: 16px;
  }

  &-description {
    @include body();

    margin-top: 16px;
  }
}
