.project {
  margin: 50px auto;

  @media (min-width: $bp-md) {
    margin: 95px auto;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:first-child {
    margin-top: 20px;

    @media (min-width: $bp-md) {
      margin-top: 70px;
    }
  }

  &--empty {
    @include heading-2();
    $min-height: 300px;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: $min-height;
    color: $ayp-grey-30;
    font-family: $main-font;
  }
}
