.hero {
  $min-width: 1440px;
  $min-height: 575px;
  $max-screen-size: 1440px;

  position: relative;
  min-height: $min-height;
  mask: url(/svg/hero-mask-mobile.svg);
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center bottom;
  overflow: hidden;

  @media (min-width: $bp-sm) {
    $min-height: 648px;

    min-height: $min-height;
    max-width: $max-screen-size;
    margin: 0 auto 40px auto;
    mask: url(/svg/hero-mask.svg);
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center bottom;
  }

  &-background {
    position: absolute;
    left: 50%;
    min-width: $min-width;
    transform: translateX(-50%);
    top: 0;
    z-index: -1;
  }

  &-shape {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    min-height: 575px;
    background-color: rgba($color: $ayp-grey-100, $alpha: 0.5);

    @media (min-width: $bp-sm) {
      transform: translate(-20%, -50%);
      top: 50%;
      width: 900px;
      height: 900px;
      border-radius: 50%;
    }
  }

  &-title-wrapper {
    display: flex;
  }

  &-icon {
    width: 90px;
    margin-right: 25px;
    object-fit: contain;
  }

  &-content {
    width: 100%;
    padding: 72px 24px;
    max-width: 640px;

    @media (min-width: $bp-sm) {
      padding-left: min(10%, 128px);
    }
  }

  &-title {
    @include heading-1();

    width: 85%;
    color: $ayp-grey-0;
    line-height: 40px;

    @media (min-width: $bp-md) {
      font-size: 52px;
      line-height: 62px;
    }
  }

  &-description {
    @include hero-body();

    color: $ayp-grey-0;
    margin: 10px 0;
  }

  &-media-wrapper {
    display: none;

    @media (min-width: $bp-sm) {
      display: flex;
      margin-top: 40px;
      align-items: center;
    }
  }

  &-media {
    margin-left: 24px;
    max-width: 70px;
  }

  &-line {
    width: 100px;
    height: 3px;
    background-color: $ayp-grey-0;
  }

  &-button {
    width: fit-content;
    margin-top: 30px;
  }

  &-arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 35px;
  }
}

.home .hero-media-wrapper {
  a > img {
    width: 24px;
    height: 24px;
  }

  @media (min-width: $bp-sm) {
    margin-top: 70px;
  }
}
