.members-grid {
  @include container();
  @include container-flex-column();
  @include on-context-spacers();
  @include before-overlap-up();

  &__title {
    @include heading-1();

    color: $ayp-blue;
    margin-bottom: 30px;
    max-width: 295px;

    @media (min-width: $bp-md) {
      max-width: 565px;
      margin-bottom: 50px;
    }
  }

  &__container {
    @include reset-list();

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width: $bp-sm) {
      @include columns-desktop();

      grid-auto-rows: auto;
    }

    @media (min-width: $bp-lg) {
      grid-gap: 50px;
    }

    & > * {
      grid-column-end: span 3;
    }

    & > li {
      width: 48%;
      margin-bottom: 20px;

      @media (min-width: $bp-sm) {
        width: 100%;
        margin-bottom: 0;
      }
    }
  }

  .member {
    @include appear-animated();

    &__image {
      height: 290px;
      width: 100%;
      object-fit: cover;

      @media (min-width: $bp-sm) {
        margin: 0;
      }
    }

    &__name {
      font-weight: 500;
      line-height: 33px;
      color: $ayp-grey-80;
    }

    &__copy {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
