* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: $ayp-black;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
}

ul li,
ol li {
  @include body();

  margin: 40px 0;
  margin-left: 30px;
  list-style: none;
  position: relative;

  &::before {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: $ayp-black;
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
  }
}
