$ayp-red: #e73c3e;
$ayp-blue: #00a5df;
$ayp-yellow: #ffc600;
$ayp-green: #8edd65;
$ayp-orange: #e87722;
$ayp-black: #161616;
$ayp-grey-0: #fff;
$ayp-grey-100: #f4f4f4;
$ayp-grey-300: #d8dada;
$ayp-grey-700: #747676;
$ayp-grey-800: #333;
