@mixin button-generic() {
  border-radius: 60px;
  font-family: $main-font;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  padding: 15px 45px;
  text-transform: uppercase;
  transition: 0.2s ease background, border, color;
}

@mixin link-generic() {
  background: none;
  font-family: $main-font;
  font-size: 14px;
  line-height: 18px;
}

@mixin normalize-interactable() {
  border: none;
  color: $ayp-grey-70;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

@mixin container {
  padding: 0 30px;
  max-width: $inner-container;
  margin: 0 auto;

  @media (min-width: $bp-md) {
    max-width: $inner-container;
    margin: 0 auto;
  }
}

@mixin columns-desktop {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(12, 1fr);
}

@mixin container-flex-column {
  display: flex;
  flex-direction: column;
}

@mixin overlap-down {
  margin-bottom: -80px;
}

@mixin overlap-up {
  transform: translateY(-80px);
}

@mixin button-primary {
  @include button-generic();
  @include normalize-interactable();

  background: $ayp-blue;
  color: $ayp-grey-0;

  &:hover {
    background: $ayp-blue--dark;
  }

  &.disabled {
    background: $ayp-blue--light;
    cursor: default;
  }
}

@mixin button-secondary {
  @include button-generic();
  @include normalize-interactable();

  background: $ayp-orange;
  color: $ayp-grey-0;

  &:hover {
    background: $ayp-grey-0;
    color: $ayp-orange;
  }

  &.disabled {
    background: $ayp-grey-30;
    color: $ayp-grey-70;
    cursor: default;
  }
}

@mixin inline-button {
  @include link-generic();
  @include normalize-interactable();

  &:hover {
    color: $ayp-blue;
    transition: 0.2s ease background, border, color;
  }
}

.button-main {
  @include button-primary();
}

.container {
  @include container();
}
