@mixin variable-title() {
  font-size: 80px;
  line-height: 72px;
  letter-spacing: 0.32px;
}

@mixin heading-1() {
  font-size: 34px;
  font-weight: 300;
  text-transform: uppercase;

  @media (min-width: $bp-md) {
    font-size: 48px;
    letter-spacing: -2px;
    line-height: 56px;
  }
}

@mixin heading-2() {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

@mixin hero-body() {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

@mixin body() {
  font-size: 18px;
  font-weight: normal;
  line-height: 32px;
}

@mixin eyebrow() {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
