//typography
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$main-font: 'Roboto', arial, helvetica, sans-serif;

// colors
$ayp-red: #e73c3e;
$ayp-blue: #00a5df;
$ayp-blue--dark: #028cbc;
$ayp-blue--light: #9dd7ec;
$ayp-yellow: #ffc600;
$ayp-green: #8edd65;
$ayp-orange: #e87722;
$ayp-black: #161616;
// the greys are organized in scale depending on their percentage of black
$ayp-grey-0: #fff;
$ayp-grey-10: #f4f4f4;
$ayp-grey-30: #d8dada;
$ayp-grey-70: #747676;
$ayp-grey-80: #333;
$ayp-grey-100: #000;

//containers
$inner-container: 1200px;
$on-context-margin-desktop: 80px;
$on-context-margin-mobile: 30px;

//breakpoints
$bp-xxs: 320px;
$bp-xs: 375px;
$bp-sm: 599px;
$bp-md: 1023px;
$bp-lg: 1439px;

/* structure for pixels up to breakpoint i.e: from mobile to up

@media screen and (min-width: $bp-sm) {
    body {
        background: $ayp-grey-10;
    }
}
*/

/* structure for pixels down to breakpoint i.e: to mobile to down

@media screen and (max-width: $bp-sm) {
    body {
        background: $ayp-grey-80;
    }
}
*/

/* structure for only a dimension: i.e only md
@media screen and (min-width: $bp-sm) and (max-width: $bp-md) {
    body {
        background: $ayp-grey-80;
    }
}
*/
